@keyframes fallAndBounce {
  0% {
    transform: translateY(-20vh); /* Start above the viewport */
  }
  60% {
    transform: translateY(0); /* Fall to the ground */
  }
  75% {
    transform: translateY(-10%); /* Bounce up */
  }
  85% {
    transform: translateY(0); /* Fall back down */
  }
  92% {
    transform: translateY(-5%); /* Small bounce up */
  }
  100% {
    transform: translateY(0); /* Settle on the ground */
  }
}


@keyframes tilt {
  0%, 100% {
    transform: rotate(0deg); /* Start and end at the original position */
  }
  50% {
    transform: rotate(-10deg); /* Tilt up */
  }
}

.sheep {
  position: absolute;
  bottom: 15vh; 
  width: 15vw; 
  height: 15vw; 
  transition: left 0.5s ease-in-out, right 0.5s ease-in-out; 
  animation: fallAndBounce 1.5s ease-in-out; 
}

.sheep-body {
  position: absolute;
  width: 70%;
  height: 60%;
  background-color: #ffffff; 
  top: 20%;
  left: 15%;
  border-radius: 0; 
}

.sheep-head {
  position: absolute;
  width: 30%;
  height: 30%;
  background-color: #000000; 
  top: 10%;
  left: 70%; 
  border-radius: 0; 
  animation: tilt 2s infinite ease-in-out; 
}

.sheep-head.sheep-2-head {
  left: 0; /* Position head to face each other */
}

.sheep-leg {
  position: absolute;
  width: 10%;
  height: 20%;
  background-color: #000000; 
  bottom: 0;
}

.sheep-leg-1 {
  left: 20%;
}

.sheep-leg-2 {
  right: 20%;
}

.sheep-eye {
  position: absolute;
  width: 10%;
  height: 10%;
  background-color: #ffffff; 
  top: 20%;
  left: 75%; 
  border-radius: 50%;
}

.sheep-eye.sheep-2-eye {
  left: 15%; /* Position eye to face each other */
}
